body{
  background-color: #2F363F;
  padding: 0;
  margin: 0;
}

.box{
  border-radius: 10px;
  overflow: hidden;
  margin: 1.2em;
  box-shadow: 5px 5px;
}

.grid{
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 2em 0;
}

.grid > .box{
  flex-basis: calc(25% - 40px);
}

@media only screen and (max-width: 768px) {
  .grid > .box{
    flex-basis: calc(50% - 40px);
  }
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc3545;
  border-radius: 10px;
}