.navbar {
  width: 100% !important;
}
.navbarBrand {
  color: white;
  font-size: 1.8em;
}

body {
  background-color: #2f363f;
  padding: 0;
  margin: 0;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.searchbox {
  width: 80%;
  margin: 0 auto;
}

.box {
  border-radius: 10px;
  overflow: hidden;
  margin: 1.2em;
  width: 80%;
  box-shadow: 5px 5px;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  margin: 0 auto;
}

.grid > .box {
  flex-basis: calc(25% - 3em);
}

.movieDetails {
  color: #ffffff;
  font-size: 1.2em;
  padding: 2em;
  margin-top: 3.2em;
}

.detailsCard {
  text-align: start;
}

@media only screen and (max-width: 768px) {
  .grid > .box {
    flex-basis: calc(50% - 3em);
  }
}

/* scrollbar styling */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dc3545;
  border-radius: 10px;
}
